@use "../../scss/" as *;

.form {
    width: 50%;
    margin: $header-height auto;
    border-radius: $border-radius;
    overflow: hidden;
    box-shadow: $box-shadow;
    @include flex(center, flex-start);

    @include tablet {
        width: 90%;
        height: 500px;
    }

    &-left {
        padding: 11rem 2rem;
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;

        @include mobile {
            display: none;
        }

        &__overlay {


            img {
                width: 70px;
                margin-left: 40%;
            }
			
			h1{
				font-size: 5rem;
				line-height: 1;
				font-weight: 900;
				margin-bottom: 20px;
			}

            span {
				p {
                    margin-top: 30px; 
                    font-weight: 900;
                }
				
				a{
					background: #3b5998;
					color:#FFFFFF;
					margin-top: 10px;
					padding: 14px 50px;
					border-radius: 100px;
					display: inline-block;
					box-shadow: 0 3px 6px 1px #042d4657;
				}
                a:last-child{
                    background: #1dcaff;
                }
            }
        }
    }

    &-right {
        padding: 40px;
		overflow: hidden;

        h1{
            font-size: 5rem;
            line-height: 1;
            font-weight: 900;
            margin-bottom: 20px;
        }

        p {
            margin-top: 5rem; 
            font-size: 1.3rem; 
            color: #B0B3B9;
        }

        span {
            color: $main-color;
            font-weight: 500;
        }

        &__input {
            overflow: hidden;

            input{
                width: 100%;
                padding: 10px;
                margin-top: 25px;
                font-size: 16px;
                font-weight: 500;
                background-color: #fff;
                color: $black;
            }

            input:focus {
                border: 2px solid $main-color;
            }
        }

        &__remember {
            padding: 2rem 0;
            @include flex(center, space-between);
            
            label {
                display: flex;
                align-items: center;
            }

            input{
				margin-right: 1rem;
				width: 20px;
                height: 20px;
                padding-top: 300px;
			}

            p {
                margin-top: 0;
            }
        }

        &__btn__login {
            width: 100%;
        }

        @include tablet {
            padding: 20px;
            
            h1 {
                font-size: 3rem;
                margin-bottom: 1rem;
                margin-left: 25%;
            }

            p {
                font-size: 1.2rem;
                margin-top: 3rem; 
            }

            &__btn {
                text-align: center;

            }
        }
    }
}
