@use '../../scss' as *;

.movie-list {
    .swiper-slide {
        width: 15%;
        cursor: pointer;
        margin-top: 1rem;
        
        @include tablet {
            width: 30%;
        }

        @include mobile {
            width: 40%;
        }
    }
    
}